#banner
{
    background-image: url("../../images/Pizza.jpg") !important;
    background-size: cover;
}

.button.special.green
{
    background-color: #27ED00;
}

.button.special.green:hover
{
    background-color: #05CB00 !important;
}

.button.special.red
{
    background-color: #ed4933;
}

.button.special.red:hover
{
    background-color: #cb2711 !important;
}

.button.special.white
{
    background-color: #FFFFFF;
    color: #000; !important;
}

.button.special.white:hover
{
    background-color: #DDDDDD !important;
    color: #000; !important;
}

.spotlight.wooden
{
    background-image: url("../../images/wooden_table.jpg");
    background-size: cover;
}

#menu
{
    background-color: #4b3027;
}

#menu ul li:hover
{
    color: #000;
}

#header
{
    background-color: #4b3027;
}

.shadowy
{
    text-shadow: 1px 1px #DDDDDD;
}

/*
=========================================================================
This pattern is downloaded from www.toptal.com/designers/subtlepatterns/
If you need more, that's where to get'em.
========================================================================
*/
.wooden-back
{
    background-image: url("../../images/light-veneer.png") !important;
}
/*
=========================================================================
This pattern is downloaded from www.toptal.com/designers/subtlepatterns/
If you need more, that's where to get'em.
========================================================================
*/
.dark-back
{
    background-image: url("../../images/dark_wall.png") !important;
}

.fancy-back
{
    background-image: url("../../images/fancy-back.jpg") !important;
    background-size: cover;
}

.white-back
{
    background-image: url("../../images/white-back.jpg") !important;
    background-size: cover;
    padding: 100px;
    -webkit-box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.75);
}

.promo
{
    background-image: url("../../images/promo.jpg") !important;
}

a
{
    text-decoration: none;
    color: #fff;
}

a:hover
{
    text-decoration: none;
    color: #fff;
}

.center-pagination
{
    text-align: center;
}

.fix-left-margin
{
    margin-left: -35px;
}

.fix-margin-top
{
    margin-top: 6px;
}

.pagination>.active>span
{
    background-color: #16DE00;
    border-color: #16DE00;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #16DE00;
    border-color: #16DE00;
}

.pagination>.active>span:hover
{
    background-color: #16DE00;
    border-color: #16DE00;
}

.pagination > li > a
{
    color: #16DE00;
}

.pagination > li > a:hover
{
    color: #16DE00;
}

.lower-font
{
    font-size: 12px;
}

.lowest-font
{
    font-size: 10px;
}

.borderless
{
    border-bottom: none;
}

.inverted
{
    color: #000;
    border-bottom: none;
}

.inverted:hover
{
    color: #000;
}

ul li
{
    padding: 0;
}

.menu-blue
{
    color: #337ab7 !important;
}

.menu-red
{
    color: #cb2711 !important;
}

.menu-green
{
    color: #16DE00;
}

.open > .dropdown-menu
{
    display: inline-flex !important;
}

.margin-hack
{
    margin-right: 200px;
}

.top-margin-override
{
    margin-top: 50px;
}

.btn-link:hover {
    text-decoration: none;
}